.ui-cytoscape-panzoom {
	position: relative;
	font-size: 1em;
	line-height: 1em;
	color: #666;
	z-index: 99999;
	padding:0;
	width: 3em !important;
	margin: 0.5em;
	background: #fff;
}

.ui-cytoscape-panzoom-panner, .ui-cytoscape-panzoom-panner-handle{
	position: absolute;
	top:0;
	left:0;
	height: 3em;
	width: 3em;
	z-index: 1;
}

.ui-cytoscape-panzoom-panner-handle{
	z-index: 999;
	outline: none;
	background: transparent;	
}
.ui-cytoscape-panzoom-panner{
	top:0;
	text-align:center;
	line-height:3em;
}

.ui-cytoscape-panzoom-panner i{
	font-size:3em;
	vertical-align: top;
	line-height: normal;
}

.ui-cytoscape-panzoom-pan-indicator {
	position: relative;
	height: inherit;
	width: inherit;
	z-index: 999;
	opacity: 0.6;
	color: #666;
	display: none;
}

.ui-cytoscape-panzoom-pan-indicator >i{
	position: absolute;
	left: -0.5em;
	top: -0.5em;
}


.ui-cytoscape-panzoom-zoomer{
	width:3em;
	position: absolute;
	top:3.3em;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translate(-50%,0);
}
.ui-cytoscape-panzoom-reset,.ui-cytoscape-panzoom-zoom-in,.ui-cytoscape-panzoom-zoom-out{
	position: relative;
	width: 1em;
	left: 50%; 
	transform: translateX(-50%);
	-ms-transform: translate(-50%,0);
	cursor: pointer;
}

.ui-cytoscape-panzoom-slider{
	position: relative;
	width: 2px;
	height: 7em;
	margin:auto;
	background-color: #bbb;
	transform: translateX(-50%);
	-ms-transform: translate(-50%,0);
}

.ui-cytoscape-panzoom-slider-handle{
	position: absolute;
	top: 50%;
 	left: 0;
 	transform: translateX(-50%);
 	-ms-transform: translate(-50%,0);
	width: 1.3em;
	height: 3px;
	background-color:#666;
	border-radius: 1em;
	cursor: move;
}